<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded</title>
    <link rel="stylesheet" href="{{url_for('static', filename='basic.css')}}">
</head>

<body>
    <div class="fond">
        <div>
            <h1>Video Summary</h1>
            <video controls>
                <source src="{{url_for('static', filename='Never Gonna Give You Up.webm')}}">
            </video><br><br>
            <a href="/download">Download</a>
            <a href="/">Home</a>
            <br><br>
        </div>
    </div>
</body>

</html>
